# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and local data
*.log
*.pkl
*.sqlite3
.DS_Store

# Streamlit
.streamlit/

# Jupyter / VSCode / PyCharm
.ipynb_checkpoints/
.vscode/
.idea/

# OS files
Thumbs.db
